# 점프투파이썬 2장 이어서

## 3절 리스트

In [1]:
print("안녕하세요.")

안녕하세요.

In [2]:
print(123)

123

### 리스트 만들기

In [3]:
# 빈 리스트
a = []
a

[]

In [4]:
b = [1,2,3]
b

[1, 2, 3]

In [6]:
c = ["Life", "is", "too", "short"]
c

['Life', 'is', 'too', 'short']

In [7]:
d = [ 1, 2, "Life", "is"]
d

[1, 2, 'Life', 'is']

In [8]:
e = [1, 2, ["Life", "is"]]
e

[1, 2, ['Life', 'is']]

In [17]:
e[2]

['Life', 'is']

In [18]:
e[2][0]

'Life'

### 리스트의 인덱싱

In [16]:
a = [0, 1, 2, 3, 4, 5] # 공간 상 첫쩨부터 다섯번째까지

### 리스트의 슬라이싱

In [19]:
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [21]:
b = a[:2]
b

[1, 2]

### 리스트의 연산자

In [23]:
a
b

[1, 2]

In [22]:
print(a,b)

[1, 2, 3, 4, 5] [1, 2]

In [25]:
c = a + b
c

[1, 2, 3, 4, 5, 1, 2]

In [26]:
c * 2

[1, 2, 3, 4, 5, 1, 2, 1, 2, 3, 4, 5, 1, 2]

### 리스트의 수정, 변경, 삭제

In [91]:
# 하나의 값 수정하기
abc= [1,2,3]

In [92]:
abc[2] = 4
abc

[1, 2, 4]

In [43]:
# 리스트 요소 삭제
a = [1, 2, 3]
del a[2]
a

[1, 2]

### 리스트 함수

In [45]:
# 리스트에 요소 추가
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [46]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [49]:
# 리스트 정렬
a = [1, 4, 3, 2, 5]
a.sort()
a

[1, 2, 3, 4, 5]

In [54]:
# 리스트 뒤집기
a = [ 1, 4 ,3, 5, 2]
a.reverse()
a

[2, 5, 3, 4, 1]

In [55]:
# 위치변환 
a = [1, 2, 3]
a.index(3)
#  3의 위치는?

2

In [60]:
# 리스트에 요소 삽입
a = [1, 2, 3]
a.insert(0,4)
a
# 0위치에 4를 넣어달라

[4, 1, 2, 3]

In [59]:
a.insert(4,5)
a

[4, 1, 2, 3, 5, 5]

In [62]:
# 리스트 요소 제거
a = [1, 2, 3, 1, 2 ,3]
a.remove(3)
a
# 처음나오는 3을 제거하라

[1, 2, 1, 2, 3]

In [68]:
# 리스트 요소 꺼내기
a= [1, 2, 3]
a.pop() # 빈공간은 마지막것을 꺼내라는 명령

3

In [64]:
a

[1, 2]

In [65]:
# 요소 개수 세기
a = [1, 2 ,3, 4]
a.count(2)

1

In [66]:
# 리스트 확장
a = [1, 2, 3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [67]:
a.append([5,6])
a

[1, 2, 3, 4, 5, [5, 6]]

## 튜플

In [69]:
t1 = ()
t2 = (1,) #튜플에서는 하나짜리를 만들더라도 ,를 붙여줘야함
t3 = (1,2,3)
t4 = ('a', 'b')
print(t1, t2, t3, t4)

() (1,) (1, 2, 3) ('a', 'b')

In [71]:
del t3[0]

TypeError: 'tuple' object doesn't support item deletion

In [72]:
# 인덱싱이랑 슬라이스는 가능

## 딕셔너리

In [74]:
dic = {'name':'조영욱', 'phone':'01012345678'}
print(dic)

{'name': '조영욱', 'phone': '01012345678'}

In [75]:
dic['name']

'조영욱'

In [76]:
dic['phone']

'01012345678'

In [77]:
dic = {'name':'조영욱', 'name':'홍길동'}

In [79]:
dic['name'] # 아무거나 가져옴 따라서 value는 상관없지만 key는 하나씩만

'홍길동'

In [80]:
#key가 뭐뭐 있나?
dic.keys()

dict_keys(['name'])

In [82]:
#값이 뭐뭐 있나?
dic.values() #키가 하나로 인식되므로 하나만 나타남

dict_values(['홍길동'])

## 불 자료형(bool)

In [85]:
# T / F 
# True / False 
3 > 1

True

In [84]:
1 > 3

False

In [88]:
if []: # 비어있는것이나 숫자0은 거짓으로 인식
    print("참")
else:
    print("거짓")

거짓

# 3장 제어문

## 1. if문

In [97]:
money = 1 # 숫자가 1이라도 있으면 있다고 인식, 0이면 없다고 인식
if money:
    print("택시를 타자") # 앞에 공백과 :이 중요!
else:
    print("걸어가자")

택시를 타자

In [98]:
# 기본구조
if 조건문: # :이 꼮꼭있어야함
    수행 문장문1 #앞에 공백이 중요함. 스페이스바 4회 또는 Tab 1회
    수행 문장문2
else:
    수행 문장문A
    수행 문장문B

SyntaxError: invalid syntax (<ipython-input-98-483beee911d9>, line 3)

In [99]:
money = 2000
if money >= 3000:
    print("택시를 타자")
else:
    print("걸어가자")

걸어가자

In [100]:
money = 2000 # 돈이 2000원있다
card = 1 # 카드가 있다
if money >= 3000 or card:
    print("taxi")
else:
    print("walk")

taxi

In [101]:
pocket = ['paper','handphone', 'card']
if 'money' in pocket:
    print("택시 타자")
else:
    if card:
        print("택시 타자")
    else:
        print("걸어가자")

택시 타자

In [102]:
# elif 를 사용
if 'money' in pocket:
    print("택시")
elif 'card' in pocket:
    print("택시")
else:
    print("걷기")

택시

In [ ]:
# 구문
if <조건문>:
    수행문장1
    수행문장2
elif <조건문>:
    수행문장
elif <조건문>:
    수행문장
else:
    수행문장